<header>
	<mat-toolbar color="accent" class="dark">
		<span routerLink="/" href="/">Amadeus</span>
		<span class="spacer"></span>
		<button mat-icon-button aria-label="Add widget"
		        matTooltipPosition="below" matTooltip="Add widget"
		        [matMenuTriggerFor]="addMenu">
			<mat-icon>add</mat-icon>
		</button>
		<button *ngIf="auth.accessToken === null; else logout"
		        mat-icon-button aria-label="Login"
		        matTooltipPosition="below" matTooltip="Login"
		        routerLink="/login" href="/login">
			<mat-icon>account_circle</mat-icon>
		</button>
		<ng-template #logout>
			<button mat-icon-button aria-label="Account"
			        matTooltipPosition="below" matTooltip="Account"
			        [matMenuTriggerFor]="accountMenu">
				<mat-icon>account_circle</mat-icon>
			</button>
		</ng-template>
	</mat-toolbar>
</header>
<main>
	<router-outlet></router-outlet>
</main>

<mat-menu #addMenu>
	<button mat-menu-item (click)="addWidget('weather')">
		<mat-icon>thermostat</mat-icon>
		<span>Weather</span>
	</button>
	<button mat-menu-item (click)="addWidget('forecast')">
		<mat-icon>storm</mat-icon>
		<span>Forecast</span>
	</button>
	<button mat-menu-item (click)="addWidget('covid')">
		<mat-icon>coronavirus</mat-icon>
		<span>Covid</span>
	</button>
</mat-menu>

<mat-menu #accountMenu>
	<button mat-menu-item *ngIf="!auth.user?.anilistID" (click)="auth.anilistRedirect()">
		<span>Link AniList account</span>
	</button>
	<button mat-menu-item (click)="auth.logout()">
		<span>Logout</span>
	</button>
</mat-menu>
