<header>
	<mat-toolbar color="accent" class="dark">
		<span>Amadeus</span>
		<span class="spacer"></span>
		<button mat-icon-button class="example-icon" aria-label="Add widget"
		        matTooltipPosition="below" matTooltip="Add widget">
			<mat-icon>add</mat-icon>
		</button>
		<button mat-icon-button class="example-icon" aria-label="Login"
		        matTooltipPosition="below" matTooltip="Login"
				routerLink="/login" href="/login">
			<mat-icon>account_circle</mat-icon>
		</button>
	</mat-toolbar>
</header>
<main>
	<router-outlet></router-outlet>
</main>
