<mat-card-title>Trends</mat-card-title>
<mat-card-content>
	<mat-form-field appearance="fill">
		<mat-label>Type</mat-label>
		<mat-select [(value)]="widget.parameters['type']" (valueChange)="updateWidget()">
			<mat-option value="POPULARITY_DESC">Popularity</mat-option>
			<mat-option value="TRENDING_DESC">Trending</mat-option>
			<mat-option value="SCORE_DESC">Score</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Title Display</mat-label>
		<mat-select [(value)]="widget.parameters['title']" (valueChange)="updateWidget()">
			<mat-option value="english">English</mat-option>
			<mat-option value="native">Native</mat-option>
			<mat-option value="romaji">Romaji</mat-option>
		</mat-select>
	</mat-form-field>

	<div style="max-height: 250px; overflow-y: scroll;">
		<mat-accordion>
			<mat-expansion-panel *ngFor="let anime of info">
				<mat-expansion-panel-header>
					<mat-panel-title>
						{{$any(anime.title)[widget.parameters["title"] ?? "english"]}}
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div style="display: flex; width: 100%; justify-content: center;">
					<img [src]="anime.image" />
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</mat-card-content>
